<div class="dash-header">
    <p class="header-title">Sistema Automação da Esterira Aeroportuaria</p>
</div>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <app-passageiro class="card-default"></app-passageiro>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-consulta-passageiro class="app-consulta-passageiro"></app-consulta-passageiro>
    </mat-grid-tile>

    <mat-grid-tile>Tela copia do Acompanhamento de Bagagens</mat-grid-tile>
    <mat-grid-tile>Configuração Arduino(Conexão, Start da Esterira)</mat-grid-tile>
</mat-grid-list>