<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Consulta de Passageiro</mat-card-title>
    </mat-card-header>

    <mat-card-content class="example-container">
        <div>
            <form class="cad-passageiro">
                <mat-form-field>
                    <input matInput placeholder="CPF" [disabled]="disabledInputs">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Nome" [disabled]="disabledInputs">
                </mat-form-field>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>

                </table>
                <mat-card-actions>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" (click)="limparFormPassageiro()">Consultar</button>
                    </div>
                </mat-card-actions>
            </form>
        </div>


    </mat-card-content>



</mat-card>