<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Consulta de Passageiro</mat-card-title>
    </mat-card-header>

    <mat-card-content class="example-container">


        <div>
            <button pButton *ngIf="!display" (click)="mudarativo()" label="Voltar"></button>
            <p-table *ngIf="!display" [value]="passageiroslista" [paginator]="true" [rows]="4" #tabela>
                <ng-template pTemplate="emptymessage">
                    Nenhum lançamento encontrado
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Assento</th>
                        <th>Voo</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-lancamento>
                    <tr>
                        <td>{{lancamento.nome}}</td>
                        <td>{{lancamento.cpf}}</td>
                        <td>{{lancamento.assento}}</td>
                        <td>{{lancamento.voo}}</td>
                    </tr>
                </ng-template>
            </p-table>

            <form class="consulta-passageiro" *ngIf="display">
                <mat-form-field>
                    <input matInput [(ngModel)]="cpf" name="cpf" placeholder="CPF" [disabled]="disabledInputs">
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="nome" name="nome" placeholder="Nome" [disabled]="disabledInputs">
                </mat-form-field>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>

                </table>
                <mat-card-actions>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" (click)="buscaNomePassageiro()">Consultar</button>
                    </div>
                </mat-card-actions>
            </form>
        </div>


    </mat-card-content>



</mat-card>